* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: white;
}



html,
body {
    overflow: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;

}

.loading-bar {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0.3);
    transform-origin: top left;
    transition: transform 0.5s;
    z-index: 1;
}

.loading-bar.ended {
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}


.point {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    z-index: 100;
}


.point .label {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 80px;
    transform: scale(0, 0);
    transition: transform 0.3s;
    padding: 2px;
}

.point .label-text {
    border-radius: 10px;
    background: #00000077;
    color: #ffffff;
    text-align: center;
    cursor: help;
}

.point .text {
    position: absolute;
    top: 30px;
    left: -120px;
    width: 200px;
    padding: 20px;
    border-radius: 4px;
    background: #00000077;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;

    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.point:hover .text {
    opacity: 1;
}

.point.visible .label {
    transform: scale(1, 1);
    pointer-events: all;
}

.bin {
    height: 90px;
}


.instructions {
    z-index: 1;
    color: white;
    position: absolute;
    top: 1px;
    font-size: 20px;
    text-transform: capitalize;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.1s;
}

.instructions:hover {
    opacity: 1;
}

.college-intro-name {
    color: rgb(255, 255, 255);
    font-size: 7vw;
    z-index: 4;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;


}

.college-intro-name.cin-init {
    animation: fade-in 2s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        top: 18%;

    }

    50% {
        opacity: 1;
        top: 18%;
    }

    100% {
        opacity: 1;
        top: 10%;
    }
}


@keyframes fade-out {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }


}


.myChart {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;

}

.chat-bot-icon {
    position: fixed;
    background-color: rgb(223, 223, 223);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
    transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.chat-bot-icon:hover {
    background-color: rgb(223, 223, 223);
    transform: scale(0.9);
}

.chat-bot-icon:active {
    background-color: rgb(223, 223, 223);
    transform: scale(0.65);
}

.chat-bot-box {
    position: fixed;
    background-color: rgb(223, 223, 223);
    width: 250px;
    height: 300px;
    bottom: 80px;
    left: 90px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.chat-bot-box.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.conversation {
    position: relative;
    overflow-y: scroll;
    height: 77%;
}

.conversation::-webkit-scrollbar {
    width: 2px;
}

.conversation::-webkit-scrollbar-track {
    background-color: rgb(223, 223, 223);
}

.conversation::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 3px;
}

.message-form {
    position: fixed;
    background-color: rgb(223, 223, 223);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.message-form>input {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.292);
    caret-color: rgb(9, 59, 59);
    color: black;
    width: 70%;
    margin-left: 5px;
}

.chat-header {
    padding: 5px;
    height: 8%;
    padding-bottom: 0;
}

p,
h2,
ul,
li {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: rgb(9, 59, 59);
    font-weight: 600;
}

.message-form {
    display: flex;
    height: 15%;
    width: 100%;
}

.message-form>button {
    border: none;
    outline: none;
    background-color: rgb(9, 59, 59);
    color: white;
    padding: 4px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 5px;
    margin-right: 5px;
}

.message-form>button:hover {
    background-color: rgb(9, 59, 59);
    transform: scale(0.9);
}

.message-form>button:active {
    background-color: rgb(9, 59, 59);
    transform: scale(0.85);
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.other-message {

    white-space: wrap;
}

.self-message,
.other-message {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5px;
}

.self-message {
    background-color: rgb(225, 219, 219);
}


.destroy {
    display: none;
}

.menu-toggle {
    position: fixed;
    background-color: rgb(223, 223, 223);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 30px;
    left: 30px;
    cursor: pointer;
    transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.menu-toggle:hover {
    background-color: rgb(223, 223, 223);
    transform: scale(0.9);
}

.menu-toggle:active {
    background-color: rgb(223, 223, 223);
    transform: scale(0.65);
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    opacity: 0;
    pointer-events: none;

    transition: transform .2s ease, opacity .2s ease;
    transform-origin: center center;
}

.menu>div {
    background-color: rgba(125, 125, 125, 0.653);
    margin: 10px;
    width: 100px;
    height: 100px;
    transition: background-color .5s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 2px;
    font-size: 15px;
    border: rgba(255, 255, 255, 0.068) 1px solid;
    transition: transform .1s ease;

}

.menu>div:hover {
    background-color: rgba(125, 125, 125, 0.29);
    transform: scale(1.03);
}

.menu.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
    pointer-events: all;
}

.menu.close {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.8);
    pointer-events: none;
}

.location-point {
    pointer-events: none;
}